#parse("/velocity/layout.vm")
#@mainLayout()
<body>
<table border="1" style="width:100%" id="table">
    <tbody>
        <tr>
            #foreach($names in $listOfProductsName)
                <td>$names</td>
            #end
        </tr>
        <tr>
            #foreach($images in $listOfProductsImage)
                <td><img src=$images alt="$images" style="width:100px; height=100px"></td>
            #end
        </tr>
        <tr>
            #foreach($info in $listOfProductsInfo)
                <td>$info</td>
            #end
        </tr>
    </tbody>
</table>
</body>
</html>
#end