#parse("/velocity/layout.vm")
#@mainLayout()
<body>



<div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
        <img src="/img/panda1.png" height="500px" width="740px">
        <div class="caption">
            <h3>Panda 1</h3>
            <p>This is the first panda that's available in our panda shop.</p>

                <a href="$WebPath.getPANDA1()">Buy now!</a>

            <p></p>


        </div>
    </div>
</div>


<div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
        <img src="/img/panda2.png" height="500px" width="740px">
        <div class="caption">
            <h3>Panda 2</h3>
            <p>This is the second panda that's available in our panda shop.</p>

            <a href="$WebPath.getPANDA1()">Buy now!</a>

            <p></p>


        </div>
    </div>
</div>



</body>
</html>
#end