#parse("/velocity/layout.vm")
#@mainLayout()
<p>Admin home</p>
<form method="post" action="$WebPath.getUSERS()">
    <input type="submit" value="User list"></input>
</form>
<form method="post" action="$WebPath.getGRAPHS()?year=2012">
    <input type="submit" value="graphs"></input>
</form>
#end
