#parse("/velocity/layout.vm")
#@mainLayout()
<h1>All users</h1>
<div class="row row-3">
    #foreach($user in $users)
        <div class="col">
            <a class="book" href="$WebPath.getadminuserchanges()$UserObjects.getUsernamecustomer()">
                <div class="bookCover">
##                    <img src="$product.getImage()" alt="$product.getName()" style="width: 200px; height: 100px">
                </div>
##                $msg.get("Price", $product.getName(), $product.getPrice())
            </a>
        </div>
    #end
</div>
#end
