
#set( $year = "2012")
#set ($year = $request.queryParams("year"))


<p id="demo"></p>

<script>
function Changeyear(){
    var String setyear = document.getElementById('yeartext').value;

    document.getElementById("demo").innerHTML = setyear;
}
</script>

<script type='text/javascript'>//<![CDATA[

window.onload=function(){



    var chart = new CanvasJS.Chart("chartContainer1",
            {
                animationEnabled: true,
                title: {
                    text: "Account Creations in year "+ $year
                },
                axisX: {
                    interval: 1,
                },
                data: [
                    {
                        type: "column",

                        type: "column",
                        dataPoints: [
                            { label: "Jan",  y: $graphmaker.CreationsPerYear($year , "01")  },
                            { label: "Feb", y: $graphmaker.CreationsPerYear($year, "02")  },
                            { label: "Mar", y: $graphmaker.CreationsPerYear($year, "03")  },
                            { label: "Apr",  y: $graphmaker.CreationsPerYear($year, "04")  },
                            { label: "May",  y: $graphmaker.CreationsPerYear($year, "05")  },
                            { label: "Jun",  y: $graphmaker.CreationsPerYear($year, "06")  },
                            { label: "Jul",  y: $graphmaker.CreationsPerYear($year, "07")  },
                            { label: "Aug",  y: $graphmaker.CreationsPerYear($year, "08")  },
                            { label: "Sep",  y: $graphmaker.CreationsPerYear($year, "09")  },
                            { label: "Oct",  y: $graphmaker.CreationsPerYear($year, "10")  },
                            { label: "Nov",  y: $graphmaker.CreationsPerYear($year, "11")  },
                            { label: "Dec",  y: $graphmaker.CreationsPerYear($year, "12")  }
                        ]
                    },
                ]
            });
    chart.render();

    var chart = new CanvasJS.Chart("chartContainer2",
            {
                animationEnabled: true,
                title: {
                    text: "Types of products",
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        dataPoints: $graphmaker.TypeOfproductdataPoints()


                    },
                ]
            });
    chart.render();

    var chart = new CanvasJS.Chart("chartContainer3",
            {
                animationEnabled: true,
                title: {
                    text: "Products ordered"
                },
                axisX: {

                    interval: 1,

                },

                data: [
                    {
                        type: "column",
                        dataPoints: $graphmaker.ProductOrderAmountDataPoints()
                    }
                ]
            });
    chart.render();

    var chart = new CanvasJS.Chart("chartContainer4",
            {
                animationEnabled: true,
                title: {
                    text: "Column Chart"
                },
                axisX: {
                    interval: 10,
                },
                data: [
                    {
                        type: "column",
                        legendMarkerType: "triangle",
                        legendMarkerColor: "green",
                        color: "rgba(255,12,32,.3)",
                        showInLegend: true,
                        legendText: "Country wise population",
                        dataPoints: [
                            { x: 10, y: 297571, label: "India" },
                            { x: 20, y: 267017, label: "Saudi" },
                            { x: 30, y: 175200, label: "Canada" },
                            { x: 40, y: 154580, label: "Iran" },
                            { x: 50, y: 116000, label: "Russia" },
                            { x: 60, y: 97800, label: "UAE" },
                            { x: 70, y: 20682, label: "US" },
                            { x: 80, y: 20350, label: "China" }
                        ]
                    },
                ]
            });
    chart.render();
}//]]>

</script>







    #parse("/velocity/layout.vm")
#@mainLayout()
<p>Graphs home</p>


<head>

    <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <div id="chartContainer1" style="width: 100%; height:300px;display: inline-block;"></div><br>

    <input id="setyear" type="text" name="txtJob" value="$year"><button onclick="newyear()">Set Year</button>


<script> function newyear() {
    year=document.getElementById("setyear").value;
    window.location.href = "$WebPath.getGRAPHS()?year=" + year;
}

</script>


    <p id="demo"></p></script>



    <div id="chartContainer2" style="width: 100%; height:400px;display: inline-block;"></div><br>

    <div id="chartContainer3" style="width: 100%; height: 300px;display: inline-block;"></div><br>











</head>
<body>

</body>

#end
