#parse("/velocity/layout.vm")
#@mainLayout()
<p><B>Order history</B></p>
    #set( $orderids = $history.GetOrderIDs("'admin'"))



<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


    $history.GenerateHTMLTable($orderids, $history.ShowOrderHistory($orderids))
#end
