#parse("/velocity/layout.vm")
#@mainLayout()
    #if($deletesucces)
    <p class="bad notification">Delete succesfull</p>
    #end
<h2>$msg.get("INDEX_REGISTERED_USERS", $users.size())</h2>
<ul>
    <form method="post" action="$WebPath.getUSERCHANGE()">
        #foreach($user in $users)
            <input type="submit" name="$user" value="$user"></input> <br>
        #end
    </form>
    <form method="post" action="$WebPath.getADMINHOME()">
        <input type="submit" value="Home"></input>
    </form>
#end
