#parse("/velocity/layout.vm")
#@mainLayout()
<center><h1>Products</h1></center>
    <form id="loginForm" method="post">
        <input type="text" name="category" placeholder="Categories" value="" id="category" required>
    </form>
<div class="row row-3">
    #foreach($product in $products)
        <div class="col">
            <a class="book" href="$WebPath.getPRODUCTS()$product.getID()">
                <div class="bookCover">
                    <img src="$product.getImage()" alt="$product.getName()" style="width: 200px; height: 100px">
                </div>
                $msg.get("Price", $product.getName(), $product.getPrice())
            </a>
        </div>
    #end
</div>
#end