#parse("/velocity/layout.vm")
#@mainLayout()
<h1>All products</h1>
<div class="row row-3">
    #foreach($product in $products)
        <div class="col">
            <a class="book" href="$WebPath.getPRODUCTS()$product.getID()">
                <div class="bookCover">
                    <img src="$product.getImage()" alt="$product.getName()" style="width: 200px; height: 100px">
                </div>
                $msg.get("BOOKS_CAPTION", $product.getName(), $product.getInfo())
            </a>
        </div>
    #end
</div>
#end
