#parse("/velocity/layout.vm")
#@mainLayout()
    #if($product)
    <form method="post" action="$WebPath.getADMINHOME()">
        <input type="submit" value="Home"></input>
    </form>
    <center>
        <h1>$product.getName()</h1>
        <h2>$product.getInfo()</h2>
        <div class="book">
            <div class="bookCover">
                <img src="$product.getImage()" alt="$product.getName()" style="width: 350px; height: 450px">
            </div>
            <a href="$WebPath.getSHOPPINGCART()$product.getID()">Buy this product!</a>
            <a href="$WebPath.getFAV()?id=$product.getID()">
                <img src="https://cdn1.iconfinder.com/data/icons/Futurosoft%20Icons%200.5.2/32x32/actions/bookmark_toolbar.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
            </a>
        </div>
    </center>
    #else
    <h1>Product not found!</h1>
    #end
#end