#parse("/velocity/layout.vm")
#@mainLayout()
    #if($product)

    <center>
        <h1>$product.getName()</h1>
        <h2>$product.getInfo()</h2>
        <div class="book">
            <div class="bookCover">
                <img src="$product.getImage()" alt="$product.getName()" style="width: 350px; height: 450px">
            </div>
            <a href="$WebPath.getSHOPPINGCART()$product.getID()">Buy this product!</a>
            <a href="$WebPath.getFAV()?id=$product.getID()">
                <img src="/img/fav.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
            </a>
            <a href="$WebPath.getSHOPPINGCARTADD()$product.getID()">Buy this product!</a>
        </div>
    </center>
    #else
    <h1>Product not found!</h1>
    #end
#end