#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        #if($asAdmin)
            <a href="$WebPath.getADMINHOME()"><img id="logo" src="/img/PandaLogo.png" alt="Spark Library"></a>
        #elseif($asUser)
            <a href="$WebPath.getCUSTOMERHOME()"><img id="logo" src="/img/PandaLogo.png" alt="Spark Library"></a>
        #else
            <a href="$WebPath.getINDEX()"><img id="logo" src="/img/PandaLogo.png" alt="Spark Library"></a>
        #end
        <ul id="chooseLanguage">
            <form>
                <li>
                    <button name="locale" value="de" style="background-image: url(/img/german.png);"></button>
                </li>
                <li>
                    <button name="locale" value="en" style="background-image: url(/img/english.png);"></button>
                </li>
            </form>
        </ul>
        <ul id="menu">
            <li><a href="$WebPath.getREGISTER()">Register</a></li>
            <li><a href="$WebPath.getGRAPHS()?year=2012">Graphs</a></li>
            <li><a href="$WebPath.getSHOPPINGCART()">Shopping cart</a></li>
            <li><a href="$WebPath.getGRAPHS()?year=2012">graphs</a></li>
            <li><a href="$WebPath.getORDER_HISTORY()?year=2012">Order history</a></li>
            #if($authenticationSucceeded)
                #if($asAdmin)
                    <li><a href="$WebPath.getUSERS()">Users</a></li>
                    #else
                        <li><a href="$WebPath.getPRODUCTS()">Products</a></li>
                #end
            #end
            <li><a href="$WebPath.getPRODUCTS()">Products</a></li>


            #if($currentUser)


                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
            #else
                <li><a href="$WebPath.getLOGIN()">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    $msg.get("COMMON_FOOTER_TEXT")
</footer>
</body>
</html>
#end
