#parse("/velocity/layout.vm")
#@mainLayout()
<h1>All products</h1>
<div class="row row-3">
    #foreach($user in $users)
        <div class="col">
            <a class="book" href="$WebPath.getUSERS()$product.getUSERNAMECUSTOMER()">
            </a>
        </div>
    #end
</div>
#end