#parse("/velocity/layout.vm")
#@mainLayout()
    #if($user)
    <form method="post" action="$WebPath.getADMINHOME()">
        <input type="submit" value="Home"></input>
    </form>
    <center>
        <h1>$user.getUsernamecustomer()</h1>
        <div class="book">
            <div class="bookCover">
            </div>
##            <form method="post" action="$WebPath.getALTERUSER()$user.getUsernamecustomer()">
##                <input type="submit" value="Alter"></input>
##            </form>
            <a href="$WebPath.getALTERUSER()$user.getUsernamecustomer()">Alter</a>
##            <form method="post" action="$WebPath.getADMINHOME()">
##                <input type="submit" value="Delete"></input>
##            </form>

            ##<a href="$WebPath.getDELETEUSER()$Orders.getUsernamecustomer()">Delete this mofocke!</a>

        </div>
    </center>
    #else
    <h1>user not found!</h1>
    #end
#end