#parse("/velocity/layout.vm")
#@mainLayout()
    #if($user)
    <form method="post" action="$WebPath.getADMINHOME()">
        <input type="submit" value="Home"></input>
    </form>
    <center>
        <h1>$user.getUsernamecustomer()</h1>
        <h2>$user.getFirstname()</h2>
        <div class="book">
            <div class="bookCover">
                <img src="$user.getFirstname()" alt="$user.getUsernamecustomer()" style="width: 350px; height: 450px">


            </div>
            <a href="$WebPath.getDELETEUSER()$user.getUsernamecustomer()">Delete this mofocke!</a>
        </div>
    </center>
    #else
    <h1>user not found!</h1>
    #end
#end